.main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login {
  width: 576px;
  height: 844px;
  border: 1px solid #e5e5e5;
  border-radius: 16px;
  margin: 30px;
}

.login_img {
  height: 555px;
  gap: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.logo {
  width: 118px;
  height: 143px;
}

.name {
  width: 144px;
}

.login_form {
  padding: 0px 24px 0px 24px;
  box-sizing: border-box;
  flex-direction: column;
  //   display: inline-block;
}

// input {
//   width: 100%;
//   height: 56px;
//   margin: 4px 0px 4px 0px;
//   border: 1px solid #e0e0e0;
//   border-radius: 6px;
//   padding-left: 15px;
// }

button {
  width: 528px;
  height: 56px;
  margin: 10px 0px 10px 0px;
  border-radius: 6px;
  font-size: 18px;
  font-weight: 800;
  color: #ffffff;
  border: none;
  background-color: #2d71f7;

  &:hover {
    background-color: #083e7f;
    cursor: pointer;
  }

  &.disabled {
    background-color: gray;
  }
}

.search {
  display: flex;
  font-size: 14px;
  align-items: center;
  justify-content: center;
  list-style: none;
}

li:first-child {
  padding-right: 24px;
  border-right: 1px solid #e0e0e0;
}

li:last-child {
  padding-left: 24px;
}

a {
  text-decoration-line: none;
}
