@import "../Modify/ModifyThread.scss";

.main-container {
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 0px 24px 0px 24px;

  .main-content {
    display: flex;
    flex-direction: column;
    // border: 1px solid #e5e5e5;
    border-radius: 16px;
    width: 100%;
    max-width: 576px;
    height: 90%;
    padding-top: 40px;
    // justify-content: center;
    align-items: flex-start;
    overflow: scroll;
    gap: 24px;

    &::-webkit-scrollbar {
      display: none;
    }

    .main-thread {
      display: flex;
      width: 100%;
      padding: 0px 8px 24px 8px;
      flex-direction: column;
      align-items: flex-start;
      gap: 16px;
      border-bottom: 1px solid #e6e6e6;

      .main-profile {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;

        .main-title {
          display: flex;
          align-items: center;
          gap: 16px;
          flex: 1;

          img {
            width: 48px;
            height: 48px;
            border-radius: 40px;
          }
        }

        span {
          color: #999;
          font-size: 14px;
          font-weight: 400;
          line-height: 22px;
        }

        .upDate {
          display: flex;
          align-items: center;
          gap: 16px;
        }
      }
      .main-profile-link {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;

        .main-profile-btn {
          display: flex;
          padding: 0 4px;
          align-items: flex-start;
          gap: 12px;
        }
      }
    }
  }

  .main-footer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    gap: 8px;
  }
}
