body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input::placeholder {
  color: #999;
}

input:active {
  border: 1px solid black;
  color: black;

  &::placeholder {
    color: black;
  }
}

input:focus {
  border: 1px solid black;
  color: black;

  &::placeholder {
    color: black;
  }
}

input:disabled {
  border: 1px solid #e0e0e0;
  color: #999;

  &::placeholder {
    color: #999;
  }
}
