.pwDoneMessage {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #2d71f7;
}
.pwErrorMessage {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #ff3636;
}
