.main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .joinDoneMain {
    width: 576px;
    height: 100vh;
    border-radius: 16px;
    margin: 30px;
    border: 1px solid #e5e5e5;
    text-align: center;

    .deadHeader {
      height: 56px;
    }

    img {
      width: 40px;
      height: 40px;
    }
    .joinDoneImg {
      // height: inherit;
      gap: 40px;
      margin-top: 24px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      img {
        width: 136px;
        height: 136px;
      }

      div {
        gap: 16px;
        text-align: center;
        margin: 10px;

        p:first-child {
          font-size: 24px;
          font-weight: 800;
          margin-bottom: 10px;
        }
        p:last-child {
          font-size: 20px;
          font-weight: 400;
          color: #999999;
        }
      }
    }

    .joinDonefooter {
      display: flex;
      padding: 0 24px;
      flex-direction: column;
      align-items: center;
      gap: 8px;
    }
  }
}
